[secrets]
otaPassword = <password>
;uploadProtocol = espota
;uploadPort = <ip-address>
;uploadAuth = --auth='${secrets.otaPassword}'
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
uploadProtocol = esptool
uploadPort = /dev/ttyUSB0
uploadAuth =
